/* IE Fixes */
html.lt-ie9 nav.primary-navigation {
	left: -300%;
	width: 25%;
}
	html.lt-ie9 body.menu-active nav.primary-navigation {
		left: 0;
		z-index: 10;
	}
	.lt-ie9 .menu-active .site {
		position: relative;
		left: 25%;
	}
	
	
/* NO-JS Fixes */
html.no-js nav.primary-navigation {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
html.no-js nav.primary-navigation {
	max-width: 25.1%;
}
html.no-js .site {
	-moz-transform: translateX(33.4%);
	-webkit-transform: translateX(33.4%);
	-o-transform: translateX(33.4%);
	-ms-transform: translateX(33.4%);
	transform: translateX(33.4%);
	
	width: 75%;
}






html, body, body.menu-active {
	overflow-x: hidden !important;
	width: 100% !important;
}



.site {
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
body.menu-active .site {
	-moz-transform: translateX(80%);
	-webkit-transform: translateX(80%);
	-o-transform: translateX(80%);
	-ms-transform: translateX(80%);
	transform: translateX(80%);
}
@media only screen and (min-width: 601px) {
	body.menu-active .site {
		-moz-transform: translateX(60%);
		-webkit-transform: translateX(60%);
		-o-transform: translateX(60%);
		-ms-transform: translateX(60%);
		transform: translateX(60%);
	}
}
@media only screen and (min-width: 1025px) {
	body.menu-active .site {
		-moz-transform: translateX(35%);
		-webkit-transform: translateX(35%);
		-o-transform: translateX(35%);
		-ms-transform: translateX(35%);
		transform: translateX(35%);
	}
}
@media only screen and (min-width: 1600px) {
	body.menu-active .site {
		-moz-transform: translateX(25%);
		-webkit-transform: translateX(25%);
		-o-transform: translateX(25%);
		-ms-transform: translateX(25%);
		transform: translateX(25%);
	}
}





nav.primary-navigation {
	background: #5D90C2;
	color: #fff;
	position: fixed;
	top: 0;
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	bottom: 0;
	display: block;
	float: left;
	width: 100%;
	max-width: 80%;
	height: 100%;
	overflow-y: auto;
	z-index: 9999;
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

body.menu-active nav.primary-navigation {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}


@media only screen and (min-width: 601px) {
	nav.primary-navigation {
		max-width: 61%;
	}
}
@media only screen and (min-width: 1025px) {
	nav.primary-navigation {
		max-width: 35.1%;
	}
}
@media only screen and (min-width: 1600px) {
	nav.primary-navigation {
		max-width: 25.1%;
	}
}



body.menu-active .site .menu-trigger {
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}




/* for the demo */
.menu-trigger {
	background: #5D90C2;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	padding: .5em 1em;
}
.wrapper {
	padding: 3em;
}